@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  min-height: -webkit-fill-available;
}

.header {
  @apply h-[100px] w-full bg-green-400;
}
.main {
  @apply w-full bg-blue-400;
}
.content {
  @apply overflow-y-scroll;
}
.footer {
  @apply h-[100px] w-full bg-yellow-400 flex items-center justify-center;
}

/* fixed  */

[data-type="fixed"] .header {
  @apply fixed;
}

[data-type="fixed"] .main {
  @apply h-[calc(100vh-100px)] pt-[100px] mb-[100px];
}

[data-type="fixed"] .content {
  @apply h-full;
}

[data-type="fixed"] .footer {
  @apply fixed bottom-0;
}

/* absolute  */

[data-type="absolute"] .header {
  @apply absolute top-0 left-0;
}

[data-type="absolute"] .main {
  @apply absolute top-[100px] bottom-[100px];
}

[data-type="absolute"] .content {
  @apply h-full;
}

[data-type="absolute"] .footer {
  @apply absolute bottom-0;
}

/* flex */

[data-type="flex"] {
  @apply flex flex-col h-screen overflow-hidden;
  max-height: -webkit-fill-available;
}

[data-type="flex"] .main {
  @apply flex-1 overflow-y-scroll;
}

[data-type="flex"] .content {
  @apply overflow-auto;
}
